carrier-elastic-search.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
<global-property name="logger.carrier-elastic-search"
		value="com.marksandspencer.mule.configfile.carrier-elastic-search" doc:name="Logger" />
    <spring:beans>
        <spring:bean id="WebSphereMQConnectionFactory-Gateway" name="WebSphereMQConnectionFactory-Gateway" class="com.ibm.mq.jms.MQConnectionFactory">
            <spring:property name="hostName" value="${jms.target.host}"/>
            <spring:property name="transportType" value="1"/>
            <spring:property name="channel" value="${jms.target.channel}"/>
            <spring:property name="queueManager" value="${jms.target.queuemanager}"/>
            <spring:property name="port" value="${jms.target.port}"/>
        </spring:bean>
    </spring:beans>
    <jms:connector name="JMS_TARGET" specification="1.1" username="${jms.target.user}"  validateConnections="true" connectionFactory-ref="WebSphereMQConnectionFactory-Gateway" doc:name="JMS" password="${jms.target.password}"/>
	<sub-flow name="compose_elastic_payload_post_create_consignment">
		<logger
			message="---------- Position: Entry || subflow : compose_elastic_payload_post_create_consignment || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
		<expression-component doc:name="compose_payload_post_create_consignment"
			file="./expression/compose_elastic_payload_post_create_consignment.mel"></expression-component>
		<jms:outbound-endpoint queue="${jms.target.queue}" connector-ref="JMS_TARGET" doc:name="JMS"/>	
	</sub-flow>
	<sub-flow name="compose_elastic_payload_pre_create_consignment">
		<logger
			message="---------- Position: Entry || subflow : compose_elastic_payload_pre_create_consignment || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
		<expression-component doc:name="compose_payload_pre_create_consignment"
			file="./expression/compose_elastic_payload_pre_create_consignment.mel"></expression-component>
		<vm:outbound-endpoint ref="vm-etc-requ-ep"
			doc:name="send elastic log message">
			<vm:transaction action="NOT_SUPPORTED" />
		</vm:outbound-endpoint>
		<logger
			message="---------- Position: Exit || subflow : compose_elastic_payload_pre_create_consignment || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
	</sub-flow>
	<sub-flow name="compose_elastic_payload_post_update_consignment">
		<logger
			message="---------- Position: Entry || subflow : compose_elastic_payload_post_update_consignment || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
		<expression-component doc:name="compose_payload_post_update_consignment"
			file="./expression/compose_elastic_payload_post_update_consignment.mel"></expression-component>
		<vm:outbound-endpoint ref="vm-etc-requ-ep"
			doc:name="send elastic log message">
			<vm:transaction action="NOT_SUPPORTED" />
		</vm:outbound-endpoint>
		<logger
			message="---------- Position: Exit || subflow : compose_elastic_payload_post_update_consignment || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
	</sub-flow>
	<sub-flow name="compose_elastic_payload_pre_update_consignment">
		<logger
			message="---------- Position: Entry || subflow : compose_elastic_payload_pre_update_consignment || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
		<expression-component doc:name="compose_payload_pre_update_consignment"
			file="./expression/compose_elastic_payload_pre_update_consignment.mel"></expression-component>
		<vm:outbound-endpoint ref="vm-etc-requ-ep"
			doc:name="send elastic log message">
			<vm:transaction action="NOT_SUPPORTED" />
		</vm:outbound-endpoint>
		<logger
			message="---------- Position: Exit || subflow : compose_elastic_payload_pre_update_consignment || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
	</sub-flow>
	<sub-flow name="compose_elastic_payload_post_allocation">
		<logger
			message="---------- Position: Entry || subflow : compose_elastic_payload_post_allocation || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
		<expression-component doc:name="compose_payload_post_allocation"
			file="./expression/compose_elastic_payload_post_allocation.mel"></expression-component>
		<vm:outbound-endpoint ref="vm-etc-requ-ep"
			doc:name="send elastic log message">
			<vm:transaction action="NOT_SUPPORTED" />
		</vm:outbound-endpoint>
		<logger
			message="---------- Position: Exit || subflow : compose_elastic_payload_post_allocation || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
	</sub-flow>
	<sub-flow name="compose_elastic_payload_pre_allocation">
		<logger
			message="---------- Position: Entry || subflow : compose_elastic_payload_pre_allocation || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
		<expression-component doc:name="compose_payload_pre_allocation"
			file="./expression/compose_elastic_payload_pre_allocation.mel"></expression-component>
		<vm:outbound-endpoint ref="vm-etc-requ-ep"
			doc:name="send elastic log message">
			<vm:transaction action="NOT_SUPPORTED" />
		</vm:outbound-endpoint>
		<logger
			message="---------- Position: Exit || subflow : compose_elastic_payload_pre_allocation || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
	</sub-flow>
	<sub-flow name="compose_elastic_payload_post_deallocation">
		<logger
			message="---------- Position: Entry || subflow : compose_elastic_payload_post_deallocation || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
		<expression-component doc:name="compose_payload_post_deallocation"
			file="./expression/compose_elastic_payload_post_deallocation.mel"></expression-component>
		<vm:outbound-endpoint ref="vm-etc-requ-ep"
			doc:name="send elastic log message">
			<vm:transaction action="NOT_SUPPORTED" />
		</vm:outbound-endpoint>
		<logger
			message="---------- Position: Exit || subflow : compose_elastic_payload_post_deallocation || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
	</sub-flow>
	<sub-flow name="compose_elastic_payload_pre_deallocation">
		<logger
			message="---------- Position: Entry || subflow : compose_elastic_payload_pre_deallocation || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
		<expression-component doc:name="compose_payload_pre_deallocation"
			file="./expression/compose_elastic_payload_pre_deallocation.mel"></expression-component>
		<vm:outbound-endpoint ref="vm-etc-requ-ep"
			doc:name="send elastic log message">
			<vm:transaction action="NOT_SUPPORTED" />
		</vm:outbound-endpoint>
		<logger
			message="---------- Position: Exit || subflow : compose_elastic_payload_pre_deallocation || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
	</sub-flow>
	<sub-flow name="compose_elastic_payload_post_getlabel">
		<logger
			message="---------- Position: Entry || subflow : compose_elastic_payload_post_getlabel || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
		<expression-component doc:name="compose_payload_post_getlabel"
			file="./expression/compose_elastic_payload_post_getlabel.mel"></expression-component>
		<vm:outbound-endpoint ref="vm-etc-requ-ep"
			doc:name="send elastic log message">
			<vm:transaction action="NOT_SUPPORTED" />
		</vm:outbound-endpoint>
		<logger
			message="---------- Position: Exit || subflow : compose_elastic_payload_post_getlabel || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
	</sub-flow>
	<sub-flow name="compose_elastic_payload_pre_getlabel">
		<logger
			message="---------- Position: Entry || subflow : compose_elastic_payload_pre_getlabel || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
		<expression-component doc:name="compose_payload_pre_getlabel"
			file="./expression/compose_elastic_payload_pre_getlabel.mel"></expression-component>
		<vm:outbound-endpoint ref="vm-etc-requ-ep"
			doc:name="send elastic log message">
			<vm:transaction action="NOT_SUPPORTED" />
		</vm:outbound-endpoint>
		<logger
			message="---------- Position: Exit || subflow : compose_elastic_payload_pre_getlabel || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
	</sub-flow>
	<sub-flow name="compose_elastic_payload_post_manifest">
		<logger
			message="---------- Position: Entry || subflow : compose_elastic_payload_post_manifest || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
		<expression-component doc:name="compose_payload_post_manifest"
			file="./expression/compose_elastic_payload_post_manifest.mel"></expression-component>
		<vm:outbound-endpoint ref="vm-etc-requ-ep"
			doc:name="send elastic log message">
			<vm:transaction action="NOT_SUPPORTED" />
		</vm:outbound-endpoint>
		<logger
			message="---------- Position: Exit || subflow : compose_elastic_payload_post_manifest || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
	</sub-flow>
	<sub-flow name="compose_elastic_payload_pre_manifest">
		<logger
			message="---------- Position: Entry || subflow : compose_elastic_payload_pre_manifest || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
		<expression-component doc:name="compose_payload_pre_manifest"
			file="./expression/compose_elastic_payload_pre_manifest.mel"></expression-component>
		<vm:outbound-endpoint ref="vm-etc-requ-ep"
			doc:name="send elastic log message">
			<vm:transaction action="NOT_SUPPORTED" />
		</vm:outbound-endpoint>
		<logger
			message="---------- Position: Exit || subflow : compose_elastic_payload_pre_manifest || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
	</sub-flow>
	<sub-flow name="compose_elastic_payload_post_markready">
		<logger
			message="---------- Position: Entry || subflow : compose_elastic_payload_post_markready || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
		<expression-component doc:name="compose_payload_post_markready"
			file="./expression/compose_elastic_payload_post_markready.mel"></expression-component>
		<vm:outbound-endpoint ref="vm-etc-requ-ep"
			doc:name="send elastic log message">
			<vm:transaction action="NOT_SUPPORTED" />
		</vm:outbound-endpoint>
		<logger
			message="---------- Position: Exit || subflow : compose_elastic_payload_post_markready || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
	</sub-flow>
	<sub-flow name="compose_elastic_payload_pre_markready">
		<logger
			message="---------- Position: Entry || subflow : compose_elastic_payload_pre_markready || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
		<expression-component doc:name="compose_payload_pre_markready"
			file="./expression/compose_elastic_payload_pre_markready.mel"></expression-component>
		<vm:outbound-endpoint ref="vm-etc-requ-ep"
			doc:name="send elastic log message">
			<vm:transaction action="NOT_SUPPORTED" />
		</vm:outbound-endpoint>
		<logger
			message="---------- Position: Exit || subflow : compose_elastic_payload_pre_markready || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
	</sub-flow>
	<flow name="log_in_elasticsearch" processingStrategy="synchronous">

		<vm:inbound-endpoint ref="vm-etc-requ-ep"
			doc:name="VM etc requests">
			<idempotent-redelivery-policy
				idExpression="#[message.id]" maxRedeliveryCount="${etc.retryable.exc.max.redeliveries}" />
			<vm:transaction action="ALWAYS_BEGIN" />
		</vm:inbound-endpoint>
		<logger
			message="---------- Position: Entry || subflow : Null || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId]"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
        <expression-component doc:name="Expression"><![CDATA[flowVars.type=sessionVars.elasticPayload.get("_type");
sessionVars.elasticPayload.remove("_type");
message.payload=sessionVars.elasticPayload;]]></expression-component>
		<json:object-to-json-transformer
			doc:name="Object to JSON" />


		<http:request config-ref="http_etc_shared"
			path="analytics-carrier-#['${etc.env}']-#[server.dateTime.year].#[server.dateTime.format('MM')].#[server.dateTime.format('dd')]/#[flowVars.type]/#[function:uuid]"
			method="PUT" doc:name="etc_log" host="${etc.host}" port="${etc.port}">

		</http:request>

		<logger
			message="---------- Position: Exit || subflow : Null || FlowName : #[flow.name] || MessageId: #[sessionVars.MnS_Header.MessageId] || elasticsearchstatuscode : #[message.InboundProperties.'http.status']"
			level="INFO" doc:name="info log" category="${logger.carrier-elastic-search}" />
		<choice-exception-strategy doc:name="etc-exc-strategy">
			<rollback-exception-strategy when="true"
				maxRedeliveryAttempts="${etc.invoke.retryable.exc.max.redeliveries}"
				doc:name="retryable audit exception">
				<logger
					message="#[logIn('a retryable exception occurred trying to call elasticsearch to log for carrier service')]"
					level="ERROR" category="${logger.carrier-elastic-search}" doc:name="retryable exception" />
				<on-redelivery-attempts-exceeded>
					<logger
						message="#[logIn('giving up after too many retryable exceptions occurred trying to log to elasticsearch')]"
						level="ERROR" category="${logger.carrier-elastic-search}" doc:name="giving up retrying" />
					<set-payload value="#[sessionVars.elasticPayload]"
						doc:name="Set Payload" />
					<json:object-to-json-transformer
						doc:name="Object to JSON" />
					<file:outbound-endpoint path="${mule.home}/${carrier.log.subdir}"
						outputPattern="#[sessionVars.elasticPayload.PayloadKey]-#[sessionVars.elasticPayload.Id].json"
						responseTimeout="10000" doc:name="local_file" />
				</on-redelivery-attempts-exceeded>
			</rollback-exception-strategy>
		</choice-exception-strategy>
	</flow>

</mule>
